html, body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%; /* Ensure body and html take up full height */
    margin: 0; /* Remove default margin */
    background: #fdf5f5;

}

header{
    background: #333;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000; /* Ensure header stays above other content */
  
}

header nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}
header nav ul li{
    display: flex;
}
header nav ul a{
    color: aliceblue;
    font-size: large;
    text-decoration: none;
}

header nav ul a:hover{  
    color: red;
    text-decoration: underline; /* Add underline on hover */
}


#content{
    flex: 1;
    overflow-y: auto; /* Allow scrolling inside main content */
    margin-top: 50px;
    margin-bottom: 135px;

}
.page{
    display: flex;
    width: 100%;
    height: 100%;
}

.about_container{
display: flex;
flex-direction: column;
align-items: center;
justify-content: top;
width: 100%;
height: 100%;

}

.about_container img{
    border-radius: 100%;
    border: 3px solid #333;
    width: 200px;
    height: 200px;
    margin-top: 10px;
}

.about_container h1{
    text-decoration: underline #333;
}

.about_container p{
    font-size: larger;
    max-width: 700px;
}

.about_text{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    max-height: auto;

}

.projects_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    width: 100%;
    height: 100%;
    }
.projects_container h1{
    text-decoration: underline #333;
}

.projects_container a{
    color: #999191;
    text-decoration: none;
}
.projects_container a:hover{
    color: red;
    text-decoration: underline #333;
}
   
/**************Youtube*****************/

.youtube_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    width: 100%;
    gap:1px;
}
.youtube_badges{
   display: flex;
   gap: 5px;   
   margin-top: -15px; /* Adjust as needed */
 
}


.youtube_container h1{
    text-decoration: underline #333;
}
.youtube_container input{
    border: 1px solid #333;
    width: 100%;
    max-width: 500px;
    padding:10px;
    font-size: 16px;
    border-radius: 5px;
}
.youtube_videos {
    display: flex;
    flex-wrap: wrap; /* Allows videos to wrap onto new rows */
    justify-content: center; /* Centers the videos horizontally */
    gap: 10px;
    margin-top: 10px;
}

/**************Blogs*****************/
.blogs_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    width: 100%;
    height: 100%;
    }
.blogs_container h1{
    text-decoration: underline #333;
}
/**************End Blogs*****************/
/**************CV*****************/
.cv_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    width: 100%;
    height: 100%;
    }
.cv_container h1{
    text-decoration: underline #333;
}
.cv_head{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 100%;
    height: 100%;
    max-width: 900px;
    max-height: 130px;
    gap: 150px;
    background: #333;
}
.cv_head img{
    border-radius: 100%;
    width: 100%;
    height: 100%;
    max-width: 130px;
    max-height: 130px;
    margin-left: 50px;
}
.cv_head .cv_head_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #999191;
}
.cv_head .cv_head_info h1{
    margin: 0px;

}
.cv_head .cv_head_info p{
    margin: 0px;
}
.cv_head .cv_head_info .cv_social_media{
    display: flex;
    flex-direction: row;
 
    gap:5px;
}
.cv_head .cv_head_info .cv_social_media img{
    width: 20px;
    height: 20px;
    margin: 0;
}
.cv_head .cv_head_info .cv_social_media a{
    color: #999191;
    text-decoration: none;
}
.cv_head .cv_head_info .cv_social_media a:hover{
    color: red;
    text-decoration: underline;
}

fieldset{
    display: flex;
    border: 2px solid #999191;
    width: 100%;
    height: 100%;
    max-width: 875px;
    max-height: fit-content;
    font-size: large;
    gap: 0px;
}
fieldset p{
    margin: 0; /* Remove default margin */

}
.cv_experience{
    display: flex;
    flex-direction: column;
    align-items: left;

}
.cv_experience .cv_experience_head {
     display: flex;
     flex-direction: row;
     justify-content: space-between; /* Push first item to left & second item to right */
}
.cv_education{
    display: flex;
    flex-direction: column;
    align-items: left;

}
.cv_education .cv_education_head {
     display: flex;
     flex-direction: row;
     justify-content: space-between; /* Push first item to left & second item to right */
}
.cv_projects{
    display: flex;
    flex-direction: column;
    align-items: left;

}
/**************End CV*****************/

.footer {
    background-color: #333;
    color: aliceblue;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center; /* Space between the left and right content */
    align-items: center; /* Vertically center the items */
    font-size: small;
    position: fixed;
    z-index: 1000; /* Ensure footer stays above other content */


}
/* Style to change the color of the email link */
.email-link {
    color: silver; /* Change this to the color you prefer */
    text-decoration: none; /* Remove the underline if you don't want it */
}

.email-link:hover {
    text-decoration: underline; /* Add underline on hover if needed */
}